.adress{
    margin-top: 130px;
    margin-left: 50px;
    margin-right: 50px;
}
.place{
    margin-left: 50px;
    margin-right: 50px;
}
.feedback{
    margin-left: 50px;
    margin-right: 50px;
    &__form{
        border: 5px orange solid;
        border-radius: 10px;
            legend{
                border: 3px orange solid;
                border-radius: inherit;
            }
        
            &--button{
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 1rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: #00dc21;
            background-image: linear-gradient(to top left,
                                              #00000033,
                                              #00000033 30%,
                                              #00000000);
            box-shadow: inset 2px 2px 3px #ffffff99,
                        inset -2px -2px 3px #00000099;
            }
            &--button:hover{
            background-color: #6bff51;
            }
            &--button:active{
            box-shadow: inset -2px -2px 3px #ffffff99,
            inset 2px 2px 3px #00000099;
            }
    }
}
