.registration{
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

fieldset{
    background-color: #7ac0f534;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px orange solid;
    border-radius: 10px;
    width: 500px;
    padding-right: 20px;
    
}
legend{
        border: 3px orange solid;
        border-radius: inherit;
    }

.form__item{
    margin-top: 15px;
    margin-bottom: 15px;
}
select,
input {
    width: 100%;
    padding: 10px 20px;
}
input[type="file"] {
    padding: 0;
}
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}
input[type="radio"]:hover{
    border: red;
}
textarea {
    width: 100%;
    padding: 10px 20px;
    resize: vertical;
    min-height: 75px;
    max-height: 33vh;
}

.submit{
    width: 100%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #00f054;
    background-image: linear-gradient(to top left,
                                      #00000033,
                                      #00000033 30%,
                                      #00000000);
    box-shadow: inset 2px 2px 3px #ffffff99,
                inset -2px -2px 3px #00000099;
}
.submit:active{
    box-shadow: inset -2px -2px 3px #ffffff99,
    inset 2px 2px 3px #00000099;
}
.submit:hover{
    background-color: #4bf687;
}
.pixel:hover{
        outline: 2px dotted #f90101;
    }
.form__cont{
    display: flex;
    justify-content: center;
    &--important{
        color: red;
    }
    
}
.reset{
    border: 0;
        line-height: 2.5;
        padding: 0 20px;
        font-size: 1rem;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1px #000;
        border-radius: 10px;
        background-color: #dc0000;
        background-image: linear-gradient(to top left,
                                          #00000033,
                                          #00000033 30%,
                                          #00000000);
        box-shadow: inset 2px 2px 3px #ffffff99,
                    inset -2px -2px 3px #00000099;
} 
.reset:hover{
    background-color: #ff0000;
}
.reset:active{
    box-shadow: inset -2px -2px 3px #ffffff99,
    inset 2px 2px 3px #00000099;
}